<li
  [ngClass]="{
    'list-group-item': true,
    'list-group-item-success': appareilStatus === 'oui',
    'list-group-item-danger': appareilStatus === 'non'
  }"
>
  <!-- <div
    style="width:20px;height:20px;background-color:tomato"
    *ngIf="appareilStatus === 'non'"
  ></div>
  <div
    style="width:20px;height:20px;background-color:chartreuse"
    *ngIf="appareilStatus === 'oui'"
  ></div> -->
  <h4 [ngStyle]="{ color: getColor() }">
    Tour: {{ appareilName }} -- Maitrise: {{ getStatus() }}
  </h4>
  <a [routerLink]="[id]">Détails</a>
  <input type="text" class="form-control" [(ngModel)]="appareilName" />
  <div class="d-flex justify-content-end">
    <button
      class="btn btn-sm btn-success mt-2 d-flex"
      *ngIf="appareilStatus === 'non'"
      (click)="onSwitch()"
    >
      Maitrise?
    </button>
    <button
      class="btn btn-sm btn-success mt-2 d-flex"
      *ngIf="appareilStatus === 'oui'"
      (click)="onSwitch()"
    >
      Pas Maitrise?
    </button>
  </div>
</li>
